<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>323374508038-f6cgq4hhetafd404qf5d14ebvu2tcved.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.323374508038-f6cgq4hhetafd404qf5d14ebvu2tcved</string>
	<key>API_KEY</key>
	<string>AIzaSyD_X2GRLfv2Mt4srvijqFG5ccLb7ZboP_s</string>
	<key>GCM_SENDER_ID</key>
	<string>323374508038</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.appdemo.tiktok</string>
	<key>PROJECT_ID</key>
	<string>fluttertestabc</string>
	<key>STORAGE_BUCKET</key>
	<string>fluttertestabc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:323374508038:ios:a99ed9a46e80b3d4f73b87</string>
</dict>	
</plist>